/* Estilo general para el body */
body {
  font-family: Arial, sans-serif; /* Fuente de texto */
  background-color: #f0f0f0; /* Color de fondo */
  display: flex; /* Usar flexbox para centrar contenido */
  flex-direction: column; /* Dirección vertical */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  height: 100vh; /* Altura de la ventana */
  margin: 0; /* Sin márgenes */
}

/* Estilo para los botones */
button {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  margin: 5px; /* Espaciado externo entre botones */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el color */
}

/* Efecto al pasar el mouse */
button:hover {
  background-color: #45a049; /* Color más oscuro al pasar el mouse */
}

footer{
  text-align: center;
}

.check{
  background-color: red;
}

.check:hover{
  background-color: orange;
}

.selected{
  background-color:blue;
}

#expresionID{
  text-align: center;
  margin-left: 140px;

}

.pERROR{
  color:red;
}